<?xml version="1.0"?>
<web-app>

    <display-name>The Lucene Web Service</display-name>

    <servlet>
        <servlet-name>LuceneWebService</servlet-name>
        <servlet-class>net.lucenews.LuceneWebService</servlet-class>

        <!-- ADJUST THESE SETTINGS BELOW AS NECESSARY -->
        <!--
            If the presence of a 'properties.file' parameter is detected, the web
            service will attempt to repopulate the parameters with those found
            within the file specified as the value.
        -->
        <init-param>
            <param-name>properties.file</param-name>
            <param-value>/var/local/lucene/service.properties</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>directory</param-name>
            <param-value>/var/local/lucene/</param-value>
        </init-param>
        <init-param>
            <param-name>operator.default</param-name>
            <param-value>AND</param-value>
        </init-param>
        <init-param>
            <param-name>field.default</param-name>
            <param-value>all</param-value>
        </init-param>
        <init-param>
            <param-name>title</param-name>
            <param-value>Lucene Web Service</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
      <servlet-name>LuceneWebService</servlet-name>
      <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
